@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:wght@100..900&family=Roboto:wght@100;300;400;500;700;900&family=Rock+Salt&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

iframe {
  vertical-align: bottom;
  margin: 0;
  border: 0;
  padding: 0;
}

/* Cabeçalho */
.header {
  background: linear-gradient(to right, rgb(17, 18, 19), #201e1d -5%, rgb(59, 61, 61)90%);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 0px 0px;
}

.logo {
  width: 140px;
  height: 70px;
  margin-left: 2%;
}

.header-nav {
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.outros-link,
.etecia-link {
  margin-top: 0%;
  text-transform: uppercase;
  text-decoration: none;
  color: #d6da06;
}

.splink {
  width: 140px;
  height: 70px;
  margin-left: 2%;
}

.outros-link {
  margin-top: 1%;
  margin-right: 0%;
  margin-left: 17.5%;
  font: 400 18px "Oswald", sans-serif;
}

.outros-link:hover {
  color: rgba(118, 122, 116, 0.8);
  transition: color 0.2s;
}

.icons {
  margin-top: 1.6%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.insta-link {
  margin-right: 20px;
}

.yt-link {
  margin-right: 20px;
}

.insta-link,
.yt-link {
  margin-bottom: 5px;
}

/* Rodapé */
.footer {
  background: linear-gradient(to right, rgb(17, 18, 19), #201e1d -5%, rgb(59, 61, 61)90%);
  color: rgb(46, 49, 47);
  padding: 24px 10px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  bottom: 0;
}

.sp-link {
  align-items: center;
  margin-left: 2%;
}

/* Home */
.body-home {
  background: linear-gradient(to right, rgb(17, 18, 19), #201e1d -5%, rgb(59, 61, 61)90%);
}

/* Slide Home */
.slide-home-container {
  max-height: 770px;
  height: 750px;
  position: relative;
  background-color: rgb(225, 226, 225);
}

/* Botões do slide */
.btnPrev,
.btnNext,
.btnPrev2,
.btnNext2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.6s ease;
  border-radius: 3px;
  user-select: none;
}

.btnNext {
  right: 0;
}

.btnPrev:hover,
.btnNext:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Animação de fading */
.fade {
  animation: fade 1.5s;
}

@keyframes fade {
  from {
    opacity: .4;
  }

  to {
    opacity: 1;
  }
}

/* Responsividade */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* Página Sobre */
.mSobre {
  max-width: 1920px;
  max-height: 770px;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  border-radius: 3%;
}

/* vídeo background */
.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  max-width: 1080px;
  max-height: 1920px;
  width: auto;
  height: auto;
  z-index: -1;
  /* Coloca o vídeo atrás do conteúdo */
  transform: translate(-50%, -50%);
  object-fit: cover;
  /* Faz o vídeo cobrir toda a tela sem distorcer */
}

.content {
  position: relative;
  z-index: 1;
  /* Coloca o conteúdo acima do vídeo */
  color: white;
  text-align: center;
  padding: 20px;
}

/* Slide da página de Sobre */
.slide-sobre {
  border: 8px solid rgb(35, 40, 35);
  margin-top: 15%;
  height: 465px;
  width: 815px;
}

/* Texto da Slide */
.txtSlide {
  color: #ffffff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 55%;
  text-align: center;
}

/* Título da página sobre */
.t1 {
  font: 600 28px "Roboto", sans-serif;
  text-decoration: none;
  color: #ffffff;
  margin-top: 18%;
  margin-left: 15%;
  margin-right: 8%;
}

/* Texto da página Sobre */
.txtSobre {
  display: flex;
  font: 600 18px "Roboto", sans-serif;
  text-decoration: none;
  color: #ffffff;
  padding: 8px 80px;
  align-self: center;
}

/* Tela Login */
.lBody {
  background: linear-gradient(to right, rgb(61, 177, 223), #e66114 -5%, rgb(61, 177, 223)90%);
  font-family: Arial, Helvetica, sans-serif;
  margin: 5% 10% 0;
}

.lMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lForm {
  border: 1px solid #000;
  border-radius: 10%;
}

.lLabel {
  margin: 8px 10%;
  color: #fff;
}

.lInput[type=text],
input[type=password] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 10%;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.lInput {
  margin-left: 10%;
}

.checkboxLabel {
  color: #fff;
}

.lButton {
  background-color: #04AA6D;
  color: #fff;
  padding: 14px 20px;
  margin: 8px 10%;
  border: none;
  cursor: pointer;
  width: 80%;
}

.lButton:hover {
  opacity: 0.8;
}

.cancelbtn {
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px;
}

img.avatar {
  width: 35%;
  border-radius: 30%;
}

.lLogo {
  margin-left: 25%;
  height: 220px;
  width: 220px;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
  margin-right: 10%;
}

.hreSpan {
  text-decoration: none;
  color: #fff;
}

/* Responsividade Extra */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
    margin-right: 10%;
  }

  .cancelbtn {
    width: 80%;
  }
}

/* Página aluno */
.mAluno {
  background-color: rgb(118, 150, 160);
  margin: 2.5% 6% 0 5%;
  max-width: 1700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  border-radius: 1%;
}

/* estilo do tab */
.tab {
  float: left;
  border: 1px solid #5f5e5e;
  background-color: #f1f1f1;
  width: 20%;
  height: 500px;
  font: 600 18px "Roboto", sans-serif;
}

/* estilo dos botões do tab */
.tab button {
  display: block;
  margin-top: 10%;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: 1px;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font: 600 12px "Roboto", sans-serif;
}

/* Mudar cor dos botões ao passar o mouse */
.tab button:hover {
  background-color: #ddd;
}

/* Mudar a cor do botão selecionado */
.tab button.active {
  background-color: #ccc;
}

.dAluno {
  font: 400 18px "Oswald", sans-serif;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagina-aluno-titulo {
  font: 400 24px "Oswald", sans-serif;
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* estilo do conteúdo do tab */
.tabcontent {
  float: center;
  padding: 0px 12px;
  border: 1px solid #ccc;
  background-color: white;
  width: 100%;
  border-left: none;
  height: 500px;
}

.avisos {
  display: flex;

  align-items: center;
  justify-content: space-between;
  margin: 20px;
  bottom: 50px;
  margin-left: 50px;
}