@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap" rel="stylesheet');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
iframe { vertical-align:bottom; }

/* cabeçalho */
.header {
  background-color: #020202;
  position: fixed;
  background-image: url("../images/blackbk.jpg");
  background-size: 100%;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 15px 500px;
  margin: 0;
  box-sizing: border-box;
}

.header-nav {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.outros-link {
  font: 800 18px "Oswald", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(211, 13, 112);
}

.etecia-link {
  font: 400 28px "Oswald", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(211, 13, 112);
  align-items: start;
}

.outros-link:hover {
  color: rgba(202, 132, 187, 0.8);
  transition: 0.2s;
}

/* rodapé */
.footer {
  background: rgb(0, 0, 0);
  color: white;
  padding: 15px 10px;
  border: 0px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  bottom: 0;
  margin: 0;
  box-sizing: border-box;
}

.mbl-link {
  align-items: center;
  justify-content: start;
  padding: 20px 20px;
}

.sp-link {
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.cps-link {
  align-items: center;
  justify-content: center;
}

.insta-link {
  float: right;
  align-items: center;
  margin-right: 40px;
  margin-bottom: 5px;
}

.yt-link {
  float: right;
  align-items: end;
  margin-right: 10px;
  margin-bottom: 5px;
}

/* home */
.body-home {
  background-color: #000000;
}

/* slide home */
/* Slideshow container */
.slide-home-container {
  max-height: 770px;
  height: 752px;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

/* botões do slide  */
.btnPrev,
.btnNext {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* posicionar o botão direito do slide */
.btnNext {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

/* página sobre */
.bSobre {
  background-color: #717171;
}

.mSobre {
  background-color: rgb(255, 255, 255);
  margin-left: 5%;
  margin-top: 2.5%;
  margin-right: 6%;
  max-width: 1700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 50px;
  border-radius: 3%;
}

/*  slide da página de sobre  */
.slide-sobre {
  border: 5px solid rgb(99, 99, 99);
  border-radius: 8px;
}

/* Caption texo */
.txtSlide {
  color: #020202;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 55%;
  text-align: center;
}

.btnPrev2,
.btnNext2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* posicionar o botão direito do slide */
.btnNext2 {
  margin-bottom: 0.5%;
  margin-right: 0.5%;
  border-radius: 3px 0 0 3px;
}

/* posicionar o botão esquerdo do slide */
.btnPrev2 {
  margin-bottom: 0.5%;
  margin-right: 50.9%;
  border-radius: 3px 0 0 3px;
}

/* The dots/bullets/indicators */
.active,
.dot:hover {
  background-color: #717171;
}

/* texto da página sobre */
.text-sobre-container {
  display: flex;
  align-items: center;
  justify-content: start;
}

.txtSobre {
  font: 600 18px "Roboto", sans-serif;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 40px 16px 64px;
}


/* tela login */
.lBody {
  background: linear-gradient(to right, rgb(0, 0, 0), #ff02c8, rgb(0, 0, 0));
  font-family: Arial, Helvetica, sans-serif;
  align-items: end;
  margin-top: 5%;
  margin-right: 10%;
}

.lMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lForm {
  border: 1px solid #000000;
  border-radius: 10%;
}

.lLabel {
  margin: 8px 10%;
  color: white;
}

.lInput[type=text],
input[type=password] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 10%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.lInput {
  margin-left: 10%;
}

.checkboxLabel {
  color: white;
}

.lButton {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 10%;
  border: none;
  cursor: pointer;
  width: 80%;
  margin-left: 10%;
}

.lButton:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 35%;
  border-radius: 30%;
}

.lLogo {
  margin-left: 25%;
  height: 220px;
  width: 220px;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
  margin-right: 10%;
}

.hreSpan {
  text-decoration: none;
  color: white;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
    margin-right: 10%;
  }

  .cancelbtn {
    width: 80%;
  }
}