@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap" rel="stylesheet');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* corpo */
.body-image {

  width: 100%;
  height: auto;
}

/* cabeçalho */

.header {
  position: fixed;
  background-image: url("../images/blackbk.jpg");
  background-size: 100%;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 15px 500px;
}

.header-nav {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.outros-link {
  font: 800 18px "Oswald", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(211, 13, 112);
}

.etecia-link {
  font: 400 28px "Oswald", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(211, 13, 112);
  align-items: start;
}

.outros-link:hover {
  color: rgba(202, 132, 187, 0.8);
  transition: 0.2s;
}

/* rodapé */

.footer {
  background: rgb(0, 0, 0);
  color: white;
  padding: 15px 10px;
  border: 0px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  bottom: 0;
}

.mbl-link {
  align-items: center;
  justify-content: start;
  padding: 0 20px;
}

.sp-link {
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.cps-link {
  align-items: center;
  justify-content: center;
}

.insta-link {
  float: right;
  align-items: center;
  margin-right: 40px;
  margin-bottom: 5px;
}

.yt-link {
  float: right;
  align-items: end;
  margin-right: 10px;
  margin-bottom: 5px;
}

.etecia-link {
  margin-left: 20px;
}

/* slides */

/* botões do slide  */
.btnPrev,
.btnNext {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


/* posicionar o botão direito do slide */
.btnNext {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* The dots/bullets/indicators */

.active,
.dot:hover {
  background-color: #717171;
}


/* fading slide */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* tela login */

.lBody {
  background-image: url(../images/bglogin.png);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  margin-top: 8%;
  margin-right: 10%;
}

.lForm {
  border: 3px solid #f1f1f1;
}

.lLabel {
  margin: 8px 10%;
}

.lInput[type=text],
input[type=password] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 10%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.lButton {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 10%;
  border: none;
  cursor: pointer;
  width: 80%;
  margin-left: 10%;
}

.lButton:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 30%;
  border-radius: 20%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 80%;
  }
}